<html>
<head>
    <script>var reportId = {{reportId}};</script>
    <script src="report-updater.js"></script>
</head>
<body>

    <h1>Report</h1>
    <p>Id: {{reportId}}</p>
    <p>Progress: <span id="progress">0%</span></p>
    <p>Report data: <span id="report-data"></span></p>

    <a href='/'>Home</a>

</body>
</html>